html, body
{
	background: #fff;
	font-family: "Helvetica";
	hyphens: auto;
	margin: 0 auto;
	outline: 0;
	padding: 0;
}

a
{
	color: #025eee;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
}

h1
{
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.2;
	margin-top: 9px;
	text-wrap: balance;
}

.caption
{
	font-size: 1.3rem;
	margin-top: 27px;
	text-wrap: balance;
}

.caption-second-line
{
	display: block;
	font-size: 1.1rem;
	margin-top: 8px;
}

.main-div
{
	margin: 19px 19px 0px 19px;
	padding-bottom: 40px;
	text-align: center;
}

.navigation
{
	display: grid;
	font-size: 1.95rem;
	font-weight: bold;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	height: 23px;
	line-height: 0.8;
	margin-top: 35px;
}

.triangle-left
{
	border-color: transparent #025eee transparent transparent;
	border-style: solid;
	border-width: 11.5px 19.9px 11.5px 0;
	float: left;
}

.triangle-right
{
	border-color: transparent transparent transparent #025eee;
	border-style: solid;
	border-width: 11.5px 0 11.5px 19.9px;
	float: right;
}

.triangle-left-link
{
	height: 23px;
	left: 0;
	position: absolute;
	top: 0;
	width: 20px;
	z-index: 1;
}

.triangle-right-link
{
	height: 23px;
	position: absolute;
	right: 0;
	top: 0;
	width: 20px;
	z-index: 1;
}

@media only screen and (min-width: 750px)
{
	body { width: 43.2%; }
}
