@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
html, body
{
	background: #fff;
	font-family: "Libre Baskerville";
	hyphens: auto;
	margin: 0 auto;
	outline: 0;
	padding: 0;
}

a
{
	color: #025eee;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
}

h1
{
	font-size: 1rem;
	font-weight: normal;
	margin-top: 9px;
	text-wrap: balance;
}

.navigation
{
	display: grid;
	font-size: 1.95rem;
	font-weight: bold;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	height: 23px;
	line-height: 0.8;
	margin-top: 35px;
}

.caption
{
	font-size: 1.3rem;
	margin-top: 28px;
	text-wrap: balance;
}

.caption-second-line
{
	display: block;
	font-size: 1.1rem;
	margin-top: 4px;
}

.main-div
{
	margin: 19px 19px 0px 19px;
	padding-bottom: 40px;
	text-align: center;
}

@media only screen and (min-width: 750px)
{
	body { width: 43.2%; }
}
