@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Libre Baskerville';
    src: url('media/Libre-Baskerville-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html, body
{
	background: #fff;
	color: #000;
	font-family: Helvetica, Sans-Serif;
	hyphens: auto;
	margin: 0 auto;
	outline: 0;
	padding: 0;
}

a
{
	color: #025eee;
	font-weight: bold;
	outline: 0;
	text-decoration: none;
}

h1
{
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.2;
	margin-top: 9px;
	text-wrap: balance;
}

.caption
{
	font-size: 1.3rem;
	margin-top: 27px;
	text-wrap: balance;
}

.caption-second-line
{
	display: block;
	font-size: 1.1rem;
	margin-top: 8px;
}

.main-div
{
	margin: 19px 19px 0px 19px;
	padding-bottom: 40px;
	text-align: center;
}

.navigation
{
	font-family: 'Libre Baskerville', Georgia, Serif;
	display: grid;
	font-size: 1.4rem;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	line-height: 1.1;
	margin-right: -2px;
	margin-top: 36px;
	text-align: justify;
}

@media only screen and (min-width: 750px)
{
	body { width: 40.1%; }
}
